# Ignorar o diretório venv
venv/
# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]
# Ignorar arquivos da configuração do PyCharm
.idea/
# Ignorar arquivos de log
*.log
# Ignorar arquivos de ambiente
.env